.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }

.mat-card{
    width : 50%;
    margin : 5px auto;
    color:rgba(100,0,0,.87);
}
.mat-card-actions{
    text-align: right;
}
