.image{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.overlay{
    position: absolute; 
    bottom: 0; 
    top:0;
    right:0;
    left:0;
    background: rgba(216, 100, 100, 0.5); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    opacity:0;
    color: white;
}

.image.selected > .overlay{
    opacity: 1;
}